<div id="header">
    <a id="logo" routerLink="/" routerLinkActive="active">
        <picture>
            <source media="(min-width: 800px)" srcset="./favicon.ico">
            <img src="./favicon.ico">
        </picture>
    </a>
    <nav role="navigation" class="main-nav">
        <ul class="nav-group nav-group--top-bar">
            <li><a routerLink="/event/game"><mat-icon>videogame_asset</mat-icon><span>Game</span></a></li>
            <li><a routerLink="/event/"><mat-icon>list</mat-icon><span>Grid</span></a></li>
            <li><a routerLink="/event/add"><mat-icon>ballot</mat-icon><span>Form</span></a></li>
            <li><a routerLink="/event/report"><mat-icon>insert_chart</mat-icon><span>Report</span></a></li>
            <li><a routerLink="/about"><mat-icon>info</mat-icon><span>About</span></a></li>
        </ul>
    </nav>
</div>