<div id="header">
    <a id="logo" routerLink="/" routerLinkActive="active">
        <picture>
            <source media="(min-width: 800px)" srcset="./favicon.ico">
            <img src="./favicon.ico">
        </picture>
    </a>
    <nav role="navigation" class="main-nav">
        <ul class="nav-group nav-group--top-bar">
            <li><a routerLink="/home"><mat-icon>home</mat-icon><span>Home</span></a></li>
            <li><a routerLink="/about"><mat-icon>info</mat-icon><span>About</span></a></li>
        </ul>
    </nav>
</div>