<div style="text-align: center; margin: 0 auto; width: 100%;">
    <div style="text-align: center;">
        <mat-checkbox [checked]="isStarredOnly" (change)="onStarredChange()">Show release events only?</mat-checkbox>
        <br />
        <a mat-raised-button (click)="onExport()" style="margin: 1em;">Export</a>
        <a mat-raised-button (click)="onProductionExport()" style="margin: 1em;">Production Export</a>
    </div>
    <table>
        <tr>
            <th></th>
            <th>Year</th>
            <th>Title</th>
            <th>#</th>
            <th style="width: 250px;">Tags</th>
        </tr>
        <ng-container *ngFor="let event of events">
            <tr>
                <td>
                    <mat-icon *ngIf="event.isStarred">star</mat-icon>
                </td>
                <td><a routerLink='/event/{{event.id}}'>{{event.year}}</a></td>
                <td style="font-weight: bold;">{{event.title}}</td>
                <td style="font-weight: bold;">{{event.title.length}}</td>
                <td rowspan="2">
                    <mat-chip-list>
                        <mat-chip *ngFor="let tag of event.tags" [ngClass]="tag">{{tag}}</mat-chip>
                    </mat-chip-list>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="border-bottom: black 1px solid;">{{event.description}}</td>
                <td>{{event.description.length}}</td>
            </tr>
        </ng-container>
    </table>
</div>