<div style="text-align: center; margin: 0 auto; width: 550px;">
    <div class="example-container" [formGroup]="gameGroup">
        <mat-form-field>
            <input matInput formControlName="yearMin" placeholder="Year Minimum">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="yearMax" placeholder="Year Maximum">
        </mat-form-field>
        <div>
            <a mat-raised-button (click)="onPlay()" style="margin: 1em;">Play</a>
        </div>
        <mat-form-field>
            A. <textarea matInput rows="5" formControlName="eventA"></textarea>
        </mat-form-field>
        <mat-form-field>
            B. <textarea matInput rows="5" formControlName="eventB"></textarea>
        </mat-form-field>
    </div>
</div>