<div class="example-container" [formGroup]="eventGroup">
    <mat-form-field>
        <input matInput formControlName="year" placeholder="Year">
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="title" placeholder="Title">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput formControlName="tags" placeholder="TAGS"></textarea>
    </mat-form-field>
</div>